body {padding:20px;}
p,li,ul,h3,h4,h5 {font-size: 100%; }
hr {border: 1px solid #666;}

a {color: #4078c0;text-decoration: none;}
a:hover,a:active {text-decoration: underline;}
table th,table td {padding: 5px 13px;border: 1px solid #ddd;}
table tr {background-color: #fff;border-top: 1px solid #ccc;}
table tr:nth-child(2n) {background-color: #f8f8f8;}

code{font-family:monospace,monospace;font-size:1em; background-color:#E7E9EB;}