body {padding:0;}
p,li,ul,h1,h2,h3,h4,h5 { font-family:Consolas, Monaco, monospace;}
hr {height:1px; border:none; color:#999; background-color:#999;}
blockquote {background: #bee9e5; border-left: 4px solid #12aa9c;}
code{font-family:monospace,monospace;font-size:1em; background-color:#bee9e5;}

a {color: #549688;text-decoration: none;}
a:hover,a:active {text-decoration: underline;}
table th,table td {padding: 5px 13px;border: 1px solid #ddd;}
table tr {background-color: #fff;border-top: 1px solid #ccc;}
table tr:nth-child(2n) {background-color: #f8f8f8;}


#title-block-header {display:none;}

ul {color:#333; list-style-type: disc;  margin: 0;  padding:2px 0;}
ul li {margin-left: 1em;list-style: disc;}
ul li ul li{margin-left: 1em;list-style: circle;}

.wrap{margin:0 auto; width:78%;  }
#left{width:280px; height:1200px; background-color:#161823; float:left; }

#laodu-wiki {color:#FCEFE8; text-decoration: underline;padding-left:1em;}